@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body{
    background: #E5E5E5;
}

.header-class{
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    height: 33px;
    font-weight: 900;
    background-color: #006633;
}

#name{
    line-height: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: auto 225px auto 233px;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}


.form-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 620px;
    height: 220px;
}

.form-div label{
    color: #006633;
    font-weight: bold;
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.form-div input[type="text"]{
    display: block;
    color: #55AE3A;
    padding-left: 18px;
    font-size: 24px;
    margin:auto;
    width: 450px;
    height: 45px;
    border: 1px solid #006633;
    border-radius: 44px;
}

::placeholder{
    color: #55AE3A;
}

#nickname-label{
    display: inline-block;
    margin-top: 22px;
}
.triangle-left{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 17px 0 17px;
    border-color: #006633 transparent transparent transparent;
    transform: translateX(217px);
}
.triangle-right{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 33px 17.5px;
    border-color: transparent transparent #006633 transparent;
    transform: translateX(378px);
}

#full-name-label{
    display: block;
    margin-top: 9px;
}