*{
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    text-align: center;
}

body, html {
    height: 100%;
    display: grid;
}

.menu{
    padding-top: 12px;
    margin: auto;
    vertical-align: middle;
    display: flex;
    background: #363636;
    width: 400px;
    height: 60px;
    border-radius: 80px;
}
.menu > div{
    width: 100%;
    z-index: 1;
}

#most-left{
    padding-top: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px,-22px);
    padding: auto;
    width: 60px;
    height: 60px;
    background-color: #55AE3A;
    border-radius: 600px;
    z-index: 2;
}
#most-right{
    padding-top: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150px,-22px);
    padding: auto;
    width: 60px;
    height: 60px;
    background-color: #363636;
    border-radius: 600px;
    z-index: 2;
}
#left-item{
    margin-left: 50px;
}
#right-item{
    margin-right: 50px;
}