@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --darkgreen:#006633;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

html{
    height: 100%;
}

body{
    height: 100%;
}

#third-content{
    width: 456px;
    text-align: center;
}

.third-white{
    font-size: 20px;
    font-weight: 900;

    line-height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
}

.third-title-text{
    display: flex;
    align-items: center;
    text-align: center;
}

.third-title{
    display: flex;
    flex-direction: row;
    background-color: var(--darkgreen);
    color: white;
    height: 32px;
}

.third-triangle1{
    margin-left: auto;
	width: 0;
	height: 0;
	border-width: 0 0 33px 24px;
	border-color: transparent transparent white transparent;
	border-style: solid;
}

.third-triangle2{
    margin-right: auto;
    width: 0;
	height: 0;
	border-width: 33px 24px 0 0;
	border-color: white transparent transparent transparent;
	border-style: solid;
}

.third-datas{
    margin: 0 9px 0 26px;
}

.third-data{
    display: block;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 4px;

    color: var(--darkgreen);
}

.third-cards{
    margin-top: 8px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.third-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 15px;

    background: var(--darkgreen);
    border-radius: 68px;

    color:white;

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    margin: 0 4px 4px 0;
}

#third-introduction-text{
    text-align: justify;

    font-size: 24px;
    line-height: 28px;

    color: var(--darkgreen);
}

.third-img{
    width: 234px;
    height: 234px;

    border: 10px solid var(--darkgreen);
    border-radius: 200px;
}

.third-h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    
    color: var(--darkgreen);
}

.third-h2{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    margin-bottom: 27px;

    color: var(--darkgreen);
}

.third-i{
    margin-right: 5px;
}
