@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    color: #FFFFFF;

}
.pop-up-class{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 150px;
    background-color:#006633;
    position: absolute;
    font-style: normal;
    display: block;
    font-size: 20px;
    text-align: center;
    border-radius: 16px;
}
.pop-up-class:first-child{
    font-weight: bold;
}
.line{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto auto auto;
}
div:nth-child(2){
    font-weight: normal;
}
#cancel{
    margin-right: 23px;
    width: 114px;
    height: 40px;
    background: #BFBFBF;
    border : 1px solid #F2F2F2;
    transition: 1s;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

#cancel:hover{
    background-color: grey;
}

#delete{
    width: 88px;
    height: 40px;
    background: #EF3A43;
    border: 1px solid #FFFFFF;
    transition: 1s;
}

#delete:hover{
    background-color: red;
}
.buttons-div button{
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}