@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --darkgreen:#006633;
    --lightgreen:#55AE3A;
    --shadow:#1E1E25;
}
/*Hello*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 1920px;
    height: 850px;
}

#background{
    height: 174px;
    width: 1920px;;
    background-image: url("./Frame_2120.png");
}

#bottom{
    width: 1920px;
    height: 136px;

    background: var(--darkgreen);

    font-size: 40px;
    line-height: 47px;

    color: white;
}

#mid{
    width: 1920px;
    height: 581px;

    display: flex;
    flex-direction: row;

}

#mid-left{
    display: flex;
    flex-direction: row;

    margin-right: 38px;
}

#ad{
    display: block;
    height: 360px;
    width: 600px;

    margin: 131px auto 85px 0;
}


#form{

    width: 500px;
    height: 360px;

    border-radius: 16px;

    background-color: var(--darkgreen);

    margin: 131px 20px 85px 38px;

    color: white;
}


#mid-content{
    margin: 86px 74px 89px 21px;
}

#mid-look-up{
    margin: 86px 0 89px 21px;
}

#abaout{
    margin: 0 0 89px 21px;
}

#newsletter{
    font-weight: bold;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin: 0;
}

#facebook{
    font-size: 60px;
    padding-top: 17px;
}

#mid-look-up-top{
    display: flex;
    flex-direction: row;
}

#cookie{
    margin: 14px 367px 21px 296px;
}

#aszf{
    margin: 14px 368px 21px 0;
}

#data-protection{
    margin: 14px 100px 21px 0;
}

#bottom > a{
    margin-left: 810px;
}

#page:hover{
    text-decoration:underline;
}

#bottom-top{
    display: flex;
    flex-direction: row;
}

::placeholder{
    color: black;
    opacity: 1;
}

.title{
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.ul-h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}

.icon-list{
    display: flex;
    flex-direction: row;
}

.icon-list > li{
    margin: 0;
}

.links{
    display: block;
    white-space: nowrap;
}

.links:hover{
    text-decoration: underline;
}

h1{
    white-space: nowrap;
}

ul{
    margin: 22px 0 0 25px;
    list-style: none;
}

button:hover{
    background-color: green;
}

a{
    cursor: pointer;
    color: white;
}

button{
    cursor: pointer;

    width: 240px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;

    font-weight: bold;
    font-size: 31px;
    line-height: 36px;

    background: var(--lightgreen);
    color: white;
    box-shadow: 0px 1px 2px var(--shadow), 0px 2px 4px var(--shadow);
    border-radius: 44px;
    border: 0;

    margin: 30px 130px 36px 130px;

    transition: 1s;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-left: 50px;
}

input[type="text"]{
    display: block;

    width: 400px;
    height: 50px;

    border: 2px solid var(--lightgreen);
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 29px;
    line-height: 34px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin: 20px 50px;
}

li{
    font-size: 24px;
}

li > a > i {
    width: 80px;
    height: 80px;
    border-radius: 80px;

    text-align: center;
    font-size: 50px;
    color: white;

    margin-right: 8px;

    padding-top: 15px;

    background: var(--darkgreen);
}

li > a > i:hover{
    background-color: var(--lightgreen);
}

@media screen and (max-width: 1880px){
    #mid{
        height: auto;
        flex-direction: column;
    }
    #mid-left{
        margin: auto;
    }
    #ad{
        width: 756px;
        height: 425px;
        margin: 20px auto;
    }
    #form{
        width: 756px;
        margin: 0 auto 20px auto;
    }
    input[type="text"]
    {
        margin: 19px 16px;
        padding-left: 20px;
        width: 724px;
        height: 50px;
        border-radius: 44px;
    }
    form > button{
        margin: 30px auto 80px auto;
    }
    #bottom{
        width: 100%;
        font-size: 26px;

    }
    #cookie{
        margin: 18px 20px 16px auto;
    }
    #aszf{
        margin: 18px 20px 16px 0;
    }
    #data-protection{
        margin: 18px auto 16px 20px;
    }
    #page{
        margin-left: 386px;
    }
}

@media screen and (max-width: 781px){
    #background{
        width: 414px;
        height: 38px;
        margin: auto;
        background-size: contain;
    }
    li{
        font-size: 12px;
    }
    .ul-h1{
        font-size: 16px;
    }
    ul{
        margin-top: 0;
    }
    .icon-list > li >a >i{
        width: 40px;
        height: 40px;
        font-size: 25px;
        padding-top: 6px;
    }
    .links{
        line-height: 14px;
    }
    #facebook{
        width: 40px;
        height: 40px;
        font-size: 25px;
        padding-top: 14px;
    }
    #mid-content{
        margin-right: 0;
    }
    #abaout{
        margin-bottom: 0;
    }
    #bottom{
        width: 414px;
        height: 117px;
        font-size: 12px;
        margin: auto;
    }
    #bottom-top{
        flex-direction: column;
    }
    #cookie{
        margin: 10px auto 0 auto;
    }
    #aszf{
        margin: 10px auto 0 auto;
    }
    #data-protection{
        margin: 10px auto 0 auto;
    }
    #bottom > a{
        margin:10px 0 150px 0;
    }
    #ad{
        width: 398px;
        height: 88px;
    }
    #last{
        text-align: center;

    }
    #form{
        margin: 16px auto 20px auto;
        border-radius: 4px;
        width: 396px;
        height: 164px;
    }
    #newsletter{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    .title > i{
        font-size: 30px;
    }
    .title{
        height: 30px;
        margin-top: 9px;
    }
    .title>h1{
        margin: 9px 0 8px 10px;
    }
    input[type="text"]
    {
        margin: 0 16px 8px 16px;
        padding-left: 10px;
        width: 354px;
        height: 30px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 44px;
    }
    label{
        display: none;
    }
    input[type="checkbox"]{
        display: none;
    }
    form > button{
        width: 171px;
        height: 40px;
        font-size: 20px;
        line-height: 23px;
        margin: 11px auto ;
    }
    #bottom-input{
        margin-bottom: 0;
    }
}