@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 360px;

    background: #55AE3A;
    border-radius: 36px;
}

.h2-icon{
    background-color: #006633;
    border-radius: 15px;
    padding: 4px;
}

h1{
    text-align: center;
    margin: 1px 0 5px 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

h2{
    text-align: center;
    margin: 0 0 14px 0;
    font-size: 16px;
    line-height: 19px;
}

img{
    display: block;
    margin: auto;

    width: 128px;
    height: 128px;

    border: 4px solid #55AE3A;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
}

p{
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    margin: 0 25px 12px 25px;
}

.icons{
    padding:0 50px 0 50px;
    display: flex;
    flex-direction: row;

}

.icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #006633;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 4px;
}
.icons i:hover{
    background-color: lime;
}