@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
}

div{
    display: flex;
    align-items: center;
    text-align: center;
}
/*
a > i{
    float: left;
}
*/
a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

input[type="search"]{
    width: 100%;
    height: 100%;
    padding: 19px;

    background: #B1DDC4;

    border: none;
    border-left: 1px white solid;

    color: #006633;
    
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;

}

input[type="search"]::placeholder{
    color: #55AE3A;
    opacity: 50%;

}

input[type="date"]{
    width: 268px;
    height: 62px;
}

input[type="date"]{
    background: #B1DDC4;
    border-radius: 36px;
    
    margin: 0 auto 18px 0;

    font-size: 20px;
    line-height: 22px;

    padding-left: 65px;
    border: 0;

    color: #006633;
}

.icon{
    width: 72px;
    height: 72px;
    border-radius: 40px;

    background: #55AE3A;


    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 11px 21px;

}

.icon > i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.wrapper{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    height: 85px;

    display: flex;
    flex-direction: row;

    background: #006633;
}

.bottom{
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 100%;
    background-color: #006633;
}

.menu-points{
    margin-right: 10px;
}

.icons-icon{
    margin-right: 24px;
}

.item:hover{
    text-decoration: underline;
}

#search-div{
    width: 849px;
    height: 80px;

    background: #B1DDC4;
}

#user{
    display: none;
}
/*
.item{
    cursor: pointer;
}
*/

#img-logo{
    width: 260px;
    height: 46px;
}

#menu{
    margin: 0 19px 0 26px;
    cursor: pointer;
}

#logo{
    margin-right: 23px;
}

#interview{
    margin-right: 37px ;
}

#portraits{
    margin-right: 36px;
}

#analyzes{
    margin-right: 43px;
}

#culture{
    margin-right: auto;
}

#geralt{
    width: 64px;
    height: 64px;
    border: 1px solid #F2F2F2;
    border-radius: 60px;
    margin-right: 8px;
    float: right;
}

#detriot{
    width: 48px;
    height: 48px;
}

#ryan{
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

#bottom-icon{
    margin-right: auto;
}

#search-div{
    max-width: 849px;

    margin: 0 14px 9px 0;

    background: #B1DDC4;

    border-radius: 44px;

    overflow: hidden;
}

#search-div > i{
    margin: 16px;

    color: #006633;

    margin: 0 0 11px 21px;
}

#calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background-color: #55AE3A;
    margin: 0 11px 11px 21px;
}

@media screen and (max-width:1420px){
    .hidden{
        display: none;
    }
    #logo{
        margin-right: auto;
    }
    .content{
        /*width: 1157px;*/
        width: 100%;
        height: 85px;
    }
    #last-icon{
        display: flex;
        flex-direction: row-reverse;

    }
}

@media screen and (max-width:679px) {
    #icons{
        display: none;
    }
    #logo{
        margin: auto;
    }
    #user{
        display: block;
    }
}