@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root{
    --darkgreen:#006633;
    --lightgreen:#55AE3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
}

body{
    background-color: gray;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;

    width: 298px;
    height: 611px;
    border-radius: 8px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    
    text-align: center;

    color: black;
    margin: 80px 0 8px 0;
    margin-top: 80px;
}

h2{
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    
    text-align: center;
    
    color: black;

    margin-bottom: 22px;
}

input{
    width: 266px;
    height: 36px;

    background: white;

    border: 1px solid var(--darkgreen);
    box-sizing: border-box;
    border-radius: 44px;

    font-size: 16px;
    line-height: 19px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: var(--lightgreen);

    padding-left: 6px;
}

p{
    margin-left: 24px;
}

input[type="email"]:invalid+p::after{
    content: "Hibás e-mail cím";
    color: red;
    margin-bottom: 0;
}

input[type="password"]{
    margin: 33px 0 33px 0;
    margin-bottom: 2px;
}

input[type="submit"]{
    background: var(--darkgreen);
    border-radius: 44px;

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: white;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    margin:0 25px 33px 16px;
    cursor: pointer;
}

.icon-button{
    width: 38px;
    height: 38px;

    border: 0;

    background: var(--darkgreen);
    border-radius: 44px;
    color: white;
    margin-bottom: 54px;
    display: block;

    cursor: pointer;

}

.container{
    padding: 0 16px 0 16px;
}

#content{
    width: 296px;
    height: 611px;
}

#registration{

    width: 133px;
    height: 36px;

    border-radius: 44px 0px 0px 44px;

    background: white;

    border: 1px solid var(--lightgreen);

    font-family: "Work Sans";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--darkgreen);
    margin: 0 -3px 29px 16px;

    cursor: pointer;
}

#login{
    width: 133px;
    height: 36px;

    background: var(--darkgreen);

    border: 1px solid var(--lightgreen);
    border-radius: 0px 44px 44px 0px;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: white;

    margin-left: -3px;

    cursor: pointer;
}

#forgot-password{
    display: block;

    cursor: pointer;

    margin: 0 0 65px 9px; 
}


#my_checkbox{
    margin:0 25px 18px 14px;
}

#remember{
    font-size: 13px;
    line-height: 20px;

    letter-spacing: 0.024em;
}

#icon-div{
    height: 118px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#or{
    display: block;
    font-size: 9px;
    line-height: 20px;

    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: var(--lightgreen);

    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--lightgreen);
    line-height: 0.1em;

}

#fb{
    margin-right: 14px;
}

label span {

    text-align: center;
    background:#fff; 
    padding:0 20px; 
}

button:hover {
    background-color: var(--lightgreen);
    color: white;
}

input[type="submit"]:hover{
    background-color: var(--lightgreen);
    color: white;
    border: 0;
}

#registration:hover{
    background-color: var(--lightgreen);
    color: white;
    border: 0;
}

#login:hover{
    background-color: var(--lightgreen);
    color: white;
    border: 0;
}

#forgot-password:hover{
    text-decoration: underline;
}