@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: "Roboto";
    background-color: #E5E5E5;;
}
.content{
    width: 1334px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table{
    background-color: white;
}
tr{
    width: 1334px;
    height: 120px;
}

td{
    padding: auto 15px auto auto;
}
.message-column{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}
.image-column{
    width: 120px;
    height: 120px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.date-column{
    font-size: 20px;
    line-height: 23px;
    padding: auto 70px auto 100px;
    font-weight: bold;
}

.menu{
    display: flex;
    font-size: 30px;
}
.menu-buttons{
    margin: 15px;
    width: 60px;
    height: 60px;
    background-color: #006633;
    color: white;
    text-align: center;
    border-radius: 100px;
    z-index: 2;
    transition: 1s;
}

.menu-buttons:hover{
    background-color: #55AE3A;
    cursor: pointer;
}

#special{
    background-color: #DF7E24;;
}

#special:hover{
    background-color: orange;
}
i{
    padding: 15px;
}