@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    background: #E5E5E5;
}

.header-class{
    text-align: center;
    height: 33.05px;
    font-weight: 900;
    background-color: #006633;
}

.header-class span{
    padding: 0;
    height: 100%;
    display: block;
    background-color: #ffffff;
    margin: auto 225.18px auto 233.16px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.form-div{
    background-color: white;
    width: 620px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-320px,-110px); /*Can also be `fixed`*/
}

.form-div label{
    color: #006633;
    font-weight: bold;
    padding-left: 0.30em;
    margin-left: 82px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.form-div input[type="text"]{
    display: block;
    color: #55AE3A;
    padding: 0.25em;
    font-size: 24px;
    margin-left: 82px;
    width: 450px;
    height: 45px;
    border: 1px solid #006633;
    border-radius: 44px;
}

::placeholder{
    color: #55AE3A;
}

#nickname-label{
    display: inline-block;
    margin-top: 22px;
}